body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-right {
  float: right;
}

.topnav-avatar {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding-right: 10px;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.big-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  margin: 10px;
}

.question {
  width: 200px;
  height: 100px;
  max-width: 590px;
  display: inline-block;
  margin: 10px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.question-response {
  width: 100%;
  margin: 0 auto;
}

.question-option {
  display: inline-block;
  width: calc(50% - 4px);
  margin: 0 auto;
}

.question-option > span{
  display: block;
  width: 90%;
  margin: 2%;
}

.question-option > button{
  display: block;
  width: 90%;
  margin-left: 20px;
  border: none;
  background-color: #04AA6D;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}

.question-option > button:hover{
  background-color: #004d31;
}

/* Hacky but less typing in the video */
.question-info > div > span:first-child {
  font-weight: bold;
  display: table;
  margin: 0 auto;
}
.question-info > div > span:nth-child(2) {
  margin: 0 auto;
  display: table;
  color: #969696;
  font-size: 12px;
}

.question-info > div > button {
  margin: 0 auto;
  display: table;
  border-radius: 2px;
  margin: 20px auto;
  width: 100%;
  height: 30px;
  display: block;
  /* padding: 10px; */
  border: 2px solid rgba(0, 255, 34, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  position: relative;
}

.question-info > div > button:hover {
  background: rgba(0, 255, 34, 0.29);
}

.question-info > div > div {
  color: #969696;
  font-size: 15px;
}
.question-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.question-icons {
  display: flex;
  align-items: center;
}
.question-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.question-icon {
  font-size: 27px;
  color: #697784;
}
.question-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.input-user {
  border-radius: 10px;
  border: 1px solid #dad7d7;
  margin-top: 5px;
  padding-left: 2px;
  padding-right: 10px;
  font-size: 15px;
}

.label-user {
  margin-top: 10px;
  padding-left: 2px;
  padding-right: 10px;
  font-size: 15px;
}

.error-user {
  background: #ff1303 !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative; 
  /* display: inline-block !important; */
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  text-align: center;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #c3392a;
}

.dashboard-list {
  border: 1px solid #dad7d7;
}